.containerShop {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: auto;
    grid-template-areas:
        'image'
        'description'
        'button';

    .image {
        grid-area: image;
    }

    .description {
        grid-area: description;
    }

    .details {
        margin-top: 2rem;
        text-align: left;
        font-family: 'Raleway', sans-serif;
    }

    .price {
        font-family: 'Raleway', sans-serif;
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 0;
    }

    .shipping {
        font-family: 'Raleway', sans-serif;
        margin-top: 1rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    .destinationControls {
        margin: 2rem 0 1.5rem 1.5rem;
        font-family: 'Raleway', sans-serif;
        font-size: 1.4rem;
        text-align: left;
        line-height: 2rem;
    }

    .button {
        text-align: center;
        grid-area: button;
    }

    .disabled {
        opacity: 0.25;
        pointer-events: none;
    }
}

@media screen and (min-width: 700px) {
    .containerShop {
        display: grid;
        grid-template-rows: min-content 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            'image image image button'
            'description description description button';
    }
}
