@import '../styles/variables.scss';
@import './NavigationHover.module.scss';

.nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 0.5rem;
}

.navSection {
    padding-left: 1rem;
    padding-top: 2rem;
    display: none;

    h3 {
        margin: 0 0 0.3rem 0;
    }

    ul {
        padding: 0.25rem 0 0 0;
        font-size: 1.6rem;

        li {
            margin-right: 2rem;
            display: inline-block;

            a {
                font-weight: 400;
                color: $text-color;
                background-color: $link-color;

                &:hover {
                    font-weight: 700;
                    text-decoration: none;
                }
            }
        }
    }
}

.active {
    // &:before {
    //     position: absolute;
    //     top: 6px;
    //     left: -6px;
    //     opacity: 0.4;
    //     color: #03f2ea;
    //     z-index: -10;
    //     filter: drop-shadow(0 0 6px rgba(3, 242, 234, 0.5));
    //     transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    // }

    // &:after {
    //     position: absolute;
    //     top: -3px;
    //     left: 6px;
    //     opacity: 0.4 !important;
    //     color: #ff0050;
    //     z-index: -10;
    //     filter: drop-shadow(0 0 6px rgba(255, 0, 80, 0.51));
    //     transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
    // }

    // &:hover {
    //     &:before {
    //         top: 6px;
    //         left: -6px;
    //         opacity: 0.4;
    //     }

    //     &:after {
    //         top: -3px;
    //         left: 6px;
    //         opacity: 0.4;
    //     }
    // }

    font-weight: bold !important;
}

.cart {
    a {
        svg {
            color: black;
        }

        &:hover {
            font-weight: 400 !important;
        }
    }
}

.name {
    padding-left: 1rem;

    h1 {
        font-size: 3.6rem;
    }

    a {
        color: $text-color;

        &:hover {
            text-decoration: none;
        }
    }
}

.burger {
    display: inline-block;
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
}

@media screen and (min-width: 1050px) {
    .nav {
        flex-direction: row;
        align-items: center;
        padding: 2.4rem 1rem;
    }

    .burger {
        display: none;
        top: 1.8rem;
        right: 3.6rem;
    }

    .navSection {
        padding-left: 8rem;
        font-size: 2.2rem;
        padding-top: 0;
        display: block;

        ul {
            font-size: 1.4rem;
        }
    }

    .name {
        font-size: 4.8rem;

        h1 {
            font-size: 4.8rem;
        }
    }
}