.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}

.name {
    margin-left: 1rem;

    h1 {
        font-size: 3.6rem;
        margin: 0.8rem 0;
    }
}

.burger {
    display: inline-block;
    position: absolute;
    top: 0.3rem;
    right: 0.5rem;
}

.photo {
    display: none;
}

.library {
    display: none;
}

@media screen and (min-width: 800px) {
    .nav {
        flex-direction: row;
        align-items: center;
    }

    .burger {
        display: none;
    }

    .photo {
        display: block;
    }

    .library {
        display: block;
    }

    .colorbar {
        height: 3rem;
    }
}
