.postList {
    ol {
        padding: 0;
        margin-left: 0 !important;

        li {
            margin: 1rem 0 5rem 0;
        }
    }

    margin-bottom: 6rem;
}

.postItem {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-template-areas:
        'image'
        'title'
        'date';
}

.postImage {
    grid-area: image;
    width: 100%;

    img {
        height: 30rem;
        border: 1px solid #666;
        object-fit: cover;
    }
}

.postTitle {
    grid-area: title;
    margin-bottom: 0.3rem;

    h3 {
        margin: 0px;
    }
}

.postDate {
    grid-area: date;
}

@media screen and (min-width: 800px) {
    .postList {
        ol {
            li {
                margin: 1rem 0 4rem 0;
            }
        }
    }
    .postItem {
        grid-template-rows: 1fr min-content min-content 1fr;
        grid-template-columns: min-content 1fr;
        grid-template-areas:
            'image .'
            'image title'
            'image date'
            'image .';
    }

    .postImage {
        width: 15rem;
        height: 10rem;
        margin-right: 2rem;

        img {
            height: 10rem;
            border: 1px solid #666;
            object-fit: cover;
        }
    }
}
