.post {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-areas:
        'meta'
        'content';
}

.meta {
    grid-area: meta;
    padding: 2rem;
    hyphens: auto;

    p {
        font-size: 1.4rem;
        margin: 0.5rem 0;
    }

    img {
        width: 100%;
        border: 1px solid #999;
    }
}

.content {
    grid-area: content;
    line-height: 2.4rem;
    padding: 2rem 4rem;

    img {
        width: 100%;
        border: 1px solid #999;
    }
}

@media screen and (min-width: 800px) {
    .post {
        display: grid;
        grid-template-columns: 36rem minmax(0, 92rem) auto;
        grid-template-areas: 'meta content .';
    }
}
