.container {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-areas:
        'meta'
        'content'
        'postnav';
    margin-bottom: 6rem;
}

.imageGallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.galleryImage {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1rem;
    cursor: pointer;

    img:hover {
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    }
}

.meta {
    grid-area: meta;
    padding: 2rem;

    p {
        font-size: 1.4rem;
        margin: 0.5rem 0;
    }

    img:not(.listImage) {
        width: 100%;
    }

    img {
        width: 100%;
    }
}

.content {
    grid-area: content;
    padding: 2rem;

    img {
        width: 100%;
    }

    ul {
        margin-left: 4rem;
        list-style: disc;
    }

    ol {
        margin-left: 4rem;
        list-style-type: decimal;
    }

    li {
        margin-bottom: 1rem;
        line-height: 2.4rem;
    }
}

.postNav {
    grid-area: postnav;
    padding: 2rem;
}

@media screen and (min-width: 700px) {
    .container {
        display: grid;
        grid-template-rows: min-content 1fr;
        grid-template-columns: minmax(0, 25rem) minmax(0, 102rem) auto;
        grid-template-areas:
            'meta content .'
            'postnav content .';
    }

    .boxedContent {
        padding: 2rem;
    }

    .imageGallery {
        flex-direction: row;
        align-items: center;
    }

    .galleryImage {
        min-width: 200px;
        padding: 2rem;
    }

    .meta {
        padding: 2rem;
    }

    .content {
        padding: 2rem 4rem;
    }

    .postNav {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 1050px) {
    .container {
        display: grid;
        grid-template-rows: min-content 1fr;
        grid-template-columns: minmax(0, 35rem) minmax(0, 92rem) auto;
        grid-template-areas:
            'meta content .'
            'postnav content .';
    }
}
