.container {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-areas:
        'meta'
        'content'
        'postnav';
    margin-bottom: 6rem;
}

.meta {
    grid-area: meta;
    padding: 2rem;

    p {
        font-size: 1.4rem;
        margin: 0.5rem 0;
    }

    img:not(.listImage) {
        width: 100%;
    }

    img {
        width: 100%;
        border: 1px solid #999;
    }
}

.content {
    grid-area: content;
    padding: 2rem;

    img {
        width: 100%;
        border: 1px solid #999;
    }
}

.postNav {
    grid-area: postnav;
    padding: 2rem;
}

@media screen and (min-width: 700px) {
    .container {
        display: grid;
        grid-template-rows: 1fr min-content;
        grid-template-columns: minmax(0, 25rem) minmax(0, 102rem) auto;
        grid-template-areas:
            'meta content .'
            'postnav content .';
    }

    .meta {
        padding: 2rem;
    }

    .content {
        padding: 2rem 4rem;
    }

    .postNav {
        margin-top: 5rem;
    }
}

@media screen and (min-width: 1050px) {
    .container {
        display: grid;
        grid-template-rows: 1fr min-content;
        grid-template-columns: minmax(0, 35rem) minmax(0, 92rem) auto;
        grid-template-areas:
            'meta content .'
            'postnav content .';
    }

    .meta {
        padding: 2rem;
    }

    .content {
        padding: 2rem 4rem;
    }

    .postNav {
        margin-top: 5rem;
    }
}
