@import '../styles/variables.scss';

html {
    font-size: 62.5%;
}

body {
    font-family: $body-text;
    font-weight: 400;
    color: $text-color;
    font-size: 1.6rem;
}

p {
    margin: 1.6rem 0;
}

em {
    font-style: italic;
}

h1 {
    font-family: $title-text;
    font-weight: 700;
    font-size: 4.8rem;
    text-transform: uppercase;
}

h2 {
    font-family: $title-text;
    font-weight: 600;
    font-size: 3.2rem;
    text-transform: uppercase;
    margin: 1.6rem 0;
}

h3 {
    font-family: $title-text;
    font-weight: 600;
    font-size: 2.2rem;
    text-transform: uppercase;
    margin: 1.6rem 0 0.8rem 0;
}

h4 {
    font-family: $body-text;
    font-weight: 700;
    font-size: 1.6rem;
    margin: 1.2rem 0 0.8rem 0;
}

h5 {
    font-family: $title-text;
    font-weight: 400;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 1.6rem 0 0.8rem 0;
}

a {
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    background-color: $link-color;
    background-image: -webkit-linear-gradient(
        left,
        blue 0%,
        cyan 10%,
        green 20%,
        yellow 30%,
        red 40%,
        magenta 50%,
        transparent
    );
    background-position: 100% 0;
    background-size: 0%;
    color: transparent;
    -webkit-transition: 0.1s 0.2s;
    -webkit-background-clip: text;

    &:hover {
        background-position: 0 0;
        background-size: 200%, 200%;
        color: transparent;
        transition: 0.4s 0;
    }
}

/* for image caption */
img + br + em {
    // Caption styles here.
    font-family: $title-text;
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-style: normal;
    display: block;
    text-align: center;
}
