html {
    font-size: 62.5%;
}

body {
    font-family: $body-text;
    font-weight: 400;
    color: $text-color;
    font-size: 1.6rem;
}

h1 {
    font-family: $title-text;
    font-weight: 700;
    font-size: 6.4rem;
    margin: 12px 0;
    text-transform: uppercase;

    a {
        color: $text-color;
        cursor: pointer;
    }
}

h2 {
    font-family: $title-text;
    font-weight: 600;
    font-size: 3.2rem;
    margin: 12px 0;
    text-transform: uppercase;

    a {
        color: $text-color;
        cursor: pointer;
    }
}

h3 {
    font-family: $title-text;
    font-weight: 400;
    font-size: 2.4rem;
    text-transform: uppercase;

    a {
        color: $text-color;
        cursor: pointer;
    }
}

a {
    text-decoration: none;
    color: $link-color;
    font-weight: 700;
    cursor: pointer;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: text-decoration;
    transition-property: text-decoration;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;

    &:hover {
        // -webkit-transform: skew(-10deg);
        // transform: skew(-10deg);
        text-decoration: underline;
    }
}
